SANITY_STUDIO_API_PROJECT_ID=xxxxxxxx
SANITY_STUDIO_ENVIRONMENT=production
NETLIFY_APP_NAME="gatsby-sanity-shopify"
NETLIFY_APP_TITLE="Gatsby Sanity Shopify"
NETLIFY_API_ID=xxxxxxxx
NETLIFY_BUILD_HOOK_ID=xxxxxxxx